@font-face {
    font-family: mandala;
    src: url('/static/fonts/Mandala.ttf.woff') format('truetype');
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 0px 10px 0px;
    border-radius: 10px;
}
.header ul{
    border-radius: 10px;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
}
.tokopaedi {
    border-radius: 10px;
    color: #DB0808;
    font-family: mandala;
    font-size: xx-large;
    overflow: hidden;
    padding: 7px 1px 7px 7px;
    text-decoration: none;
}
.tokopaedi span {
    background-color: #afafaf;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    float: right;
    font-family: mandala;
    overflow: none;
    padding: 0px 5px 0px 5px;
}

.card {
    padding: 0px 80px 0px;
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}
/* Style the table header */
table th {
    background-color: #9f9f9f;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}
table tr:last-child {
    background-color: #bfbfbf;
}
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
table td.total_amount {
    text-align: right;
}
table td.amount {
    text-align: center;
}


.database {
    padding: 0px 38px 0px;
}
.database ul {
    list-style: none;
}
.database a {
    background-color: #dfdfdf90;
    background-clip: padding-box;
    border-radius: 10px;
    color: #000000;
    display: block;
    float: left;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
.database a:hover {
    background-color: #dfdfdf;
    border-radius: 10px;
    overflow: hidden;
    outline: 1px solid #444444;
}
.database a.add_product {
    background-color: #DB080870;
}
.database a.add_product:hover {
    background-color: #DB080890;
    outline: 1px solid #444444;
}

.add_product_body {
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 0px 80px 0px 80px;
    overflow: hidden;
    padding: 0px 10px 10px;
    width: 70%;
}