@font-face {
    font-family: Mandala;
    src: url(/main/templates/main/mandala.ttf);
}

h1.tokopaedi{
    /* font-family: Mandala; */
    font-family: 'Mandala', sans-serif;
    color:rgba(82, 181, 29, 0.961);
}