{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login | Tokopaedi</title>
    <style>
        .login {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock meta %}

{% block content %}
<div class = "login">
    <section class="login-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <form class="md-float-material form-material" action="" method="POST">
                        {% csrf_token %}
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row" style="margin: 10px 200px 0px;">
                                    <div class="col-md-12">
                                        <h4 class="text-center heading" >Login</h4>
                                    </div>
                                </div>
                                <div class="form-group form-primary" style="margin: 10px 10px 10px;">

                                    <input type="text" class="form-control" name="username" value="" placeholder="Username" id="first_name"> 
                                </div>
    
                                <div class="form-group form-primary" style="margin: 10px 10px 10px;">
                                    <input type="password" class="form-control" name="password" placeholder="Password" value="" id="password">
                                    
                                </div>
    
                                <div class="row" style="margin: 10px 0px 0px 0px;">
                                    <div class="col-md-12">
    
                                        <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Login">
                                        <!--  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Signup Now </button> -->
                                    </div>
                                </div>

                                <br>
    
                                <p class="text-inverse text-center">Don't have an account yet ? <a href="{% url 'main:register' %}" data-abc="true">Register Now</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
</div>

{% endblock content %}