{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tokopaedi - Safely store your inventory</title>
<style>
    #product_body:last-child .card-body{
        background-color: #afafaf;
    }
</style>
{% endblock meta %}

{% block content %}
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span>Profile</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <br>
                <span class="navbar-text">
                    <h5>{{ name }}</h5>
                </span>
                <span class="navbar-text">
                    Logged in: {{ last_login }}
                </span>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <p>found {{total_amount}} pc(s) of {{total_product}} product(s)</p>
    </div>
    <div class="container">
        <div class="row row-cols-1 g-4">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-3" id="product_body">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">{{product.name}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">Rp{{product.price}}</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a style="text-decoration: none;" href="{% url 'main:delete_product' product.id %}?confirm=true" onclick="return confirm('Are you sure you want to delete this product?')" class="delete"><img style="width: 15px;" src="{% static 'images/trash.png' %}" alt="delete"></a>
                        <span> | </span>
                        <a style="text-decoration: none;" href="{% url 'main:update_amount' product.id 'decrease' %}" class="modify_amount">-</a>
                        {{product.amount}}
                        <a style="text-decoration: none;" href="{% url 'main:update_amount' product.id 'increase' %}" class="modify_amount">+</a>
                        <span> | </span>
                        <a type="button" class="btn btn-outline-secondary" style="padding: 1px 5px 0px 5px;" href="{% url 'main:edit_product' product.id %}">Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="container">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" style="background-color: grey;"><a href="{% url 'main:create_product' %}" style="text-decoration: none; color: white; padding: 3px;">New Product</a></button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Databases
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/xml/">XML Database</a></li>
                    <li><a class="dropdown-item" href="/json/">JSON Database</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-danger" style="background-color: red;"><a href="{% url 'main:logout' %}" style="text-decoration: none; color: white; padding: 3px;">Logout</a></button>
        </div>
    </div>
{% endblock content %}