{% extends 'base.html' %}
{% block meta %}
<title>Tokopaedi - Safely store your inventory</title>
{% endblock meta %}
{% block content %}
    <div class="information">
        <h3>Welcome, {{ name }}!</h1>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
        <h5>Here is your inventory</h5>
    </div>
    <div class="card">
        <table class="products_view">
            <tr>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Price</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center; width: 10%;">Amount</th>
            </tr>
            {% for product in products %}
            <tr class="product">
                <td>{{product.name}}</td>
                <td>Rp.{{product.price}}</td>
                <td>{{product.description}}</td>
                <td class="amount">
                    <a style="text-decoration: none;" href="" class="delete">Delete</a>
                    <a style="text-decoration: none;" href="{% url 'main:update_amount' product.id 'decrease' %}" class="modify_amount">-</a>
                    {{product.amount}}
                    <a style="text-decoration: none;" href="{% url 'main:update_amount' product.id 'increase' %}" class="modify_amount">+</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td class="total_amount">Stored product(s) :</td>
                <td class="amount">{{ total_amount }}</td>
            </tr>
        </table>
    </div>
    <div class="database">
        <ul>
            <li><a href="/xml/">XML Database</a></li>
            <li><a href="/json/">JSON Database</a></li>
            <li><a href="{% url 'main:create_product' %}" class="add_product">Add New Product</a></li>
            <li><a href="{% url 'main:logout' %}" class="logout">Logout</a></li>
        </ul>
    </div>
{% endblock content %}